*{
   margin:0px;
   padding:0px
   box-sizing: border-box;
}
 .background {
   width: 460px;
   height: 100px;
   background-image:Yellow #fff;
   background-image: url("https://mobidrive.com/sharelink/i/4k95D7sgz1oj7kTMRQGJap5nnoO8Hh439tp0cYojOE3A");
   background-repeat: no-repeat;
   background-size: cover; 
   background-position: center;
 }   
