*{
   margin:0px;
   padding:0px
   box-sizing: border-box;
}
 .background {
   width: 100%;
   height: 100vh;
   background-image: url("../image/computer.jpg");
   background-repeat: no-repeat;
   background-size: cover; 
   background-position: center;
 }   
