body {
    background-image: Square();
    display: block;
    counter-set:initial;
    width: 500px;
    height: 400px;
    margin:0;
    background-color:#f4f4f4;
}
   /* profiles.logo.jpeg*/
   .container image {
     width:460%;
     height:380px;
     margin:auto;
     overflow:hidden;
}
  .ul {
     margin:0;
     padding:0;
}
  .button-search {
     height:0%;
     width: 0%;
     margin: 0px;
     border:0%;
     padding-left: 20px;
     padding-right:20px;
     color:#ffffff;
}   
   .container image{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}
  /* profiles.logo.jpeg */
  #profiles.logo.jpeg {
    height:460px;
    width: 380px;
    background:url('..https://httpsrathanaphon.websibite.info/img/Myphoto.profiles.jpeg') no-repeat;
    background-position: center;
    background-size:screen;
    background-image:center;
    background-image:center ;
    list-style-image: var(logo);
    color:#ffffff;
} 
   #search-bar {
    font-size:0px;
    margin-top: auto;
}
   /*my photos */
     #profiles-logo-jpeg {
     padding:360px;
     color:#ffffff;
     background:#f4f4f4;
}
  .My.photos h1{
     float:Central;
}
   #profiles.container h1 {
     float:central;
     margin-top:15px;
}
   #My.photos h1{
     padding:0px;
     height:400px;
     width:500px;
}
   #search-wrapper {
    list-style: none;
    font-size: larger;
    padding:20%;
    border: #cccccc solid 1px;
    margin-bottom:0px;
    background-image: #e6e6e6;
}
  .My.photo h1{
    padding:20px;
    margin-top:20px;
    margin: square;
    color:#ffffff;
    background-color:coral #cccccc;
    text-align: center;
} 
  #My.profiles.barnd-logo.h1{
    Width:100%;
    height: 100%;
    margin: square;
}
  #style {
    display:screen;
    width:100%;
    height:100%;
}
  #Gmail {
    width:100%;
    margin-bottom:0px;
}
  #image.My.photos {
    display: block;
    background-image: url();
    content: icon;
} 
  #backgroud {
    height: 100%;
    width: 100%;
}
  #image.My.photo h1 {
    width: 500px;
    height: 400px;
    background-color: #ffff;
    background: #ffffff;
    background-clip: screen;
}